@{
    Layout = "SidebarLayout";
}
<style>
    .cb {
        border: 1px solid #ebeef6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }


    .mine {
        min-height: 100vh;
    }


    .bor {
        border: 1px solid black;
    }


    #DomName,
    .dep-name {
        border: 1px solid rgb(203, 203, 203);
    }


    #DomName {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    }


    #theGray {
        background-color: rgb(203, 203, 203);
    }


    #NameAddBtn {
        color: white;
        border: rgb(14, 85, 132);
        background-color: #3E7DBE;
    }


    #employeeTable {
        width: 100%;
    }


    #bd {
        background-color: rgb(16, 202, 147);
        color: white;
        font-size: small;
    }


    .trsh {
        background-color: rgb(242, 87, 103);
        width: 30px;
        height: 30px;
        border-radius: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }


    td {
        border: 1px solid rgb(203, 203, 203);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    }

    th {
        border: 1px solid rgb(203, 203, 203);
    }


    table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        unicode-bidi: isolate;
        border-spacing: 3px;
        border-color: gray;
    }
</style>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <div class="cb mine card p-3 mt-2 mb-2">
                <div class="row">
                    <div class=" col-md-6">
                        <label for="DomainName">Domain Name</label>
                        <select class="form-select form-control" id="department" required="">
                            <option value="">All</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class=" col-md-4">
                        <label for="DepartmentName">Department Name</label>
                        <input id="DepartmentName" class="form-control dep-name" />
                    </div>
                    <div class=" col-md-2">
                        <br />
                        <input class="btn btn-azure" value="Add" type="button" />
                    </div>
                </div>
                <div class="mt-5">
                    <p>Department Names - 6</p>
                    <div class="col-12">
                        <hr />
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table id="employeeTable" class="table table-responsive-sm text-center">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center" id="DomName">ID</th>
                                    <th scope="col" class="text-center" id="DomName">DOMAIN NAME</th>
                                    <th scope="col" class="text-center" id="DomName">DEPARTMENT NAME</th>
                                    <th scope="col" class="text-center" id="DomName">TOTAL EMP</th>
                                    <th scope="col" class="text-center" id="DomName">STATUS</th>
                                    <th scope="col" class="text-center" id="DomName">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="text-center">1</th>
                                    <td class="text-center">Sudhan</td>
                                    <td class="text-center">KAR</td>
                                    <td class="text-center">INDIA</td>
                                    <td class="text-center">
                                        <span id="bd" class="p-1 badge-sm badge-success">Active</span>
                                    </td>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <i class="trsh fa-solid fa-trash-can"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text-center">2</th>
                                    <td class="text-center">Manuel</td>
                                    <td class="text-center">KAR</td>
                                    <td class="text-center">India</td>
                                    <td class="text-center">
                                        <span id="bd" class="p-1 badge-sm badge-success">Active</span>
                                    </td>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <i class="trsh fa-solid fa-trash-can"></i>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
