@{
    Layout = "SidebarLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <link href="~/assets/css/common/common.css" rel="stylesheet" />
    <link href="~/assets/css/custom/errorpage.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="ebox text-center">
            <div class="row">
                <div class="col">
                    <i class="ico fa-solid fa-circle-exclamation"></i>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col">
                    <h1 class="text-center fs-3">An unhandled exception occurred while processing the request.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4">
                    <p class="text-center fs-3 text-danger">Please contact Administrator and check the logs!!</p>
                </div>
            </div>
            <br />
        </div>
    </div>
</body>
</html>

