@model Kaizen.Models.AdminModel.LoginModel
@{
    Layout = "Empty";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-container animated fadeIn">
        <div class="logobox btn-azure padding-top-20 padding-bottom-20" style="color:white;text-align: center;font-size:xx-large;">
            Kaizen Application
        </div>
        <div class="loginbox bg-white">
            <div class="loginbox-title">Forgot Password ?</div>
            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmpId, "Emp ID", htmlAttributes: new { @class = "control-label" })
                        <span class="text-danger">*</span>
                        @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control col-md-6", placeholder = "Enter Employee Id", id = "EmpId" } })
                        <br />
                        <span id="IdVal"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="loginbox-submit col-6">
                    <button type="button" class="btn btn-block btn-azure" id="submitFPId">Submit</button>
                </div>
                <div class="loginbox-submit col-6">
                    <button type="button" class="btn btn-block btn-azure" id="submitFPId">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}

<script src="~/assets/js/custom/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        $("form").validate({
            rules: {
                EmpId: {
                    required: true,
                    digits: true
                }
            },
            messages: {
                EmpId: {
                    required: "Please enter your Employee ID",
                    digits: "Employee ID should only contain numbers"
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo("#IdVal");
            },
            errorClass: "text-danger",
        });

        $(document).on('click', '#submitFPId', function (e) {
            e.preventDefault();

            if ($("form").valid()) {
                var empid = $('#EmpId').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Forgot", "Login")',
                    data: { id: empid },
                    success: function (response) {
                        console.log("This is the response" + response);
                        if (response) {
                            swal({
                                text: "Please check email and verify.",
                            }).then(OK => {
                                location.reload();
                            });
                        } else {
                            swal({
                                text: "No response from server. Please try again later.",
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        swal({
                            text: "An error occurred. Please try again later.",
                        });
                        console.log('Error:', error);
                    }
                });
            }
        });
    });
</script>
