.error-message
{
    color:red;
    font-size:10px;
}
.text-Azure {
    color: #2dc3e8;
    font-size: 25px !important;
    font-weight: 400 !important;
}
.btn-warning {
    color: #fff !important;
}

    .btn-warning:hover {
        color: #fff !important;
    }
.mandatory {
    color: red;
}

*:not(.LogoutIcon):not(.fa-solid) {
    font-size: 11px;
    line-height: 15px;
}

Fontmedium {
    font-size: 50px;
}

#wrapper {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    overflow-y: auto;
}

.text-center text-uppercase border-bottom text-light {
    background-color: #1d7dbe !important;
}
h4
{
    color:white;
}
#sidebar-wrapper {
    min-height: 100vh;
    width: 190px;
    /*    background-color: #2dc3e8 !important;*/
    background-color: #1d7dbe !important;
    /*color: #fff;*/
    color: white;
    transition: all 0.3s;
    margin-top: 1px;
}
#container-header {
    background-color: #1d7dbe;
}
.logo {
    margin-top: 1px;
    width: 45px;
}

#page-content-wrapper {
    flex: 1;
}
.text-light
{
    color: white!important;
}

.list-group-item {
    background-color: #1d7dbe !important;
    color: white;
    border: none;
    cursor: pointer;
    /*    padding: 10px 30px;*/
}

.LogoutIcon {
    color: white;
    font-size: 40px;
    position: fixed;
    bottom: 58px;
    margin-left:90px;
}

.footer {
    text-align: center;
    padding: 0.9375rem;
}

.btn-block-custom {
    width: calc(100% - 2rem); /* Adjust the gap as needed */
    margin: 0 1rem; /* Adjust the gap as needed */
    padding-left: 0.5rem; /* Reduced padding */
    padding-right: 0.5rem; /* Reduced padding */
}

.bgcolcode {
    background-color: #2dc3e8 !important;
}

.navbar {
    padding: 0;
}
/*.border {
    border: 1px solid #2dc3e8 !important;
}*/
.btn-azure {
    background-color: #1d7dbe !important;
    color: white;
}

    .btn-azure:hover {
        background-color: #1d7dbe !important;
        color: white;
    }

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -190px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}

.pll {
    margin-block-end: initial;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #page-content-wrapper {
        height: calc(100vh - 140px) !important;
    }
}