@{
    var title = "TEPL Kaizen Idea";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">
 <style>
        .btn-azure, .btn-azure:focus {
            background-color: #1d7dbe !important;
            border-color: #1d7dbe;
            color: #fff;
        }
 </style>
</head>
<body>

    <meta charset="utf-8" />
    <title>Kaizen Application</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/global.css" rel="stylesheet" />
    <link href="~/assets/css/common/common.css" rel="stylesheet" />
    <link href="~/assets/css/custom/addblock.css" rel="stylesheet" />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link href="~/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="~/assets/css/demo.min.css" rel="stylesheet" />
    <link href="~/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/assets/js/skins.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div>
        @RenderBody()
    </div>
    <!--Basic Scripts-->

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    @*     <script src="~/assets/js/beyond.js"></script> *@
    <script src="~/assets/js/beyond.min.js"></script>
    <script src="~/assets/js/beyond.js"></script>

</body>
</html>
