.cardsize {
    border: 1px solid #ebeef6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#btnAdd
{
    margin-top:20px;
}

.bd {
    background-color: rgb(16, 202, 147);
    color: white;
    font-size: small;
    border: rgb(16, 202, 147);
}
#dHeader {
    font-size: 16px !important;
    margin-top: -10px;
    margin-left: 7px;
}
#card-block {
    height: 20vh !important;
}
#blktotal
{
    color:black;
    font-weight:700;
    font-size:15px;
}
#blkh {
    color: black;
    font-weight: 500;
    font-size: 13px;
    margin-left:-17px;
}
    .badge-sm {
        font-size: 11px !important;
        padding: 5px 8px;
        line-height: 11px;
        border-radius: 0px !important;
        cursor: pointer !important;
    }
.icon {
    padding: 3px;
   /* width: 50px;
    height: 35px;*/
    min-width: 26px;
    min-height: 26px;
}
td {
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

th {
    border: 1px solid rgb(203, 203, 203);
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 3px;
    border-color: gray;
}

