.cb {
    border: 1px solid #ebeef6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.mine {
    min-height: 100vh;
}

.bor {
    border: 1px solid black;
}

#DomName,
.dep-name {
    border: 1px solid rgb(203, 203, 203);
}

#DomName {
    background-color: rgb(240, 240, 240);
}

#theGray {
    background-color: rgb(203, 203, 203);
}

#NameAddBtn {
    color: white;
    border: rgb(14, 85, 132);
    background-color: #3E7DBE;
}

#employeeTable {
    width: 100%;
}

#bd {
    background-color: rgb(16, 202, 147);
    color: white;
    font-size: small;
}

td {
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

th {
    border: 1px solid white !important;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 3px;
    border-color: gray;
}

.inputMaster {
    width: 100%;
    background-color: rgb(240, 240, 240);
    outline: none;
    border: none;
    color: rgb(46, 195, 232);
}

input {
    outline: none;
    border: none;
}

.mo {
    border: 1px dashed #ccc;
    height: 100vh;
}

thead tr {
    border: none;
}

.bbg {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}
