td {
    border: 1.5px solid rgba(128, 128, 128, 0.3) !important;
}
tr {
    box-shadow: 2px 0px 0px 0px rgba(231, 230, 230, 0.3), 1px 1px 4px 0px rgba(119, 119, 119, 0.3);
}
th {
    border-right: 1.5px solid rgba(128, 128, 128, 0.3) !important;
}

input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

    input[type="date"]:focus {
        border-color: #007BFF;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }